.leaflet-container {
  width: 100vw;
  max-width: 900px;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent !important;
}

.leaflet-control {
  border: none !important;
}

.failed {
  animation-name: stroke_change;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, end);
  fill-opacity: 1;
}

@keyframes stroke_change {
  from {
    stroke-width: 4;
  }

  to {
    stroke-width: 1;
  }
}
